/*********************************************

MINERVA GO

*********************************************/
.minerva-ui{
    display: flex;
}
#minerva-go{
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 30px;
}

/*********************************************

STAGE

*********************************************/
#minerva-stage{
    padding: 10px;
    width: 100%;
    background-color: white;
    border: 1px dotted #222;
}
#minerva-stage div{
    border: 1px dotted #ccc;
}
#minerva-stage div:hover{
    opacity: .3;
    background-color: mediumpurple;
    cursor: pointer;
}

/*********************************************

BLOCKS

*********************************************/
#minerva-blocks{
    padding: 20px;
    width: 300px;
    height: 100%;
}