/*********************************************

DEFAULTS

*********************************************/
button{ cursor: pointer; }
#wpbody-content{ width: 100% !important; }
h1, h2, h3, h4, h5{ margin: 0; }
p{ margin: 0; }

#minerva-nav{
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}

/*********************************************

STAGE

*********************************************/
#minerva-stage{
    padding: 10px;
    background-color: white;
    border: 1px dotted #222;
}
#minerva-stage div{
    border: 1px dotted #ccc;
}
#minerva-stage div:hover{
    opacity: .3;
    background-color: mediumpurple;
    cursor: pointer;
}

/*********************************************

BLOCKS

*********************************************/
#minerva-blocks{
    display: none;
    padding: 20px;
    width: 300px;
    height: 100%;
}